
<body>
<div class="bg">
  <div class="container">

    <form id="resetPass" class="text-center" action="#!" style="margin-top: 15vh">

      <h3 style="font-size: 35px">Passwort ändern</h3>
      <hr style="border-color: dimgray">
      <div id="text">

        <h5> Hier können Sie Ihr Passwort ändern</h5>

        <br>
        <input id="code" type="form" class="form-control" style="margin-bottom: 10px"
               placeholder="Code" #code>

        <input id="newPass" type="form" class="form-control"
               placeholder="Neu Passwort" #newPassword>

      </div>

      <button class="btn btn-info my-4 btn-block" style="background: rgb(133,0,61); border-color: rgb(133,0,61)"
              (click)="resetPass(code, newPassword)">Speichern </button>

    </form>

  </div>
</div>
</body>
