<body>
<div class="bg">
  <div class="container">



    <form id="login" class="text-center" action="#!">

      <h3 style="font-size: 50px">Sign In</h3>

      <hr style="border-color:dimgray; ">

      <!-- Username -->
      <input type="form" id="defaultRegisterFormUsername" class="form-control" placeholder="Benutzername" #name>

      <p></p>

      <!-- E-mail -->
      <input type="form" id="defaultRegisterFormEMail" class="form-control" placeholder="E-Mail">

      <p></p>

      <!-- Password -->
      <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" #password>
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4"></small>

      <p></p>


      <!-- Sign in button -->
      <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Anmelden</button>
      <hr style="border-color: dimgray">

      <!-- Forgot? -->

        <p> <em>Passwort </em>

          <a href="forgot-password" style="color:rgb(133,0,61)">vergessen?</a>

        <p> <em>Benutzername </em>

          <a href="forgot-username" style="color:rgb(133,0,61)">vergessen?</a>



    </form>
    <!-- Default form register -->

  </div>
</div>
</body>
