
<hr>

<div class="container-fluid" style=" margin-top: 50px; margin-left: 150px ; border-radius: 15px 50px 30px;
    background: rgb(123,123,123);
    padding: 80px;
    width: 500px;">

  <!-- Default form register -->
  <form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4 " style="font-size: 50px ; color: white">Sign In</p>

    <hr>

    <div class="col">
      <!-- Username -->
      <input type="form" id="defaultRegisterFormUsername" class="form-control" placeholder="Benutzername">
    </div>

    <p></p>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required>

    <p></p>

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4"></small>

    <p></p>


    <!-- Role -->
    <div class="custom-control custom-radio " style="text-align: left; color: white">
      <input type="radio" class="custom-control-input" id="teacher">
      <label class="custom-control-label" for="teacher"> Lehrer</label>
    </div>
    <div class="custom-control custom-radio" style="text-align: left; color:white">
      <input type="radio" class="custom-control-input" id="student">

      <label class="custom-control-label" for="student"> Studierende</label>
    </div>

    <p></p>

    <!-- Sign in button -->
    <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Anmelden</button>

    <hr>

    <!-- Terms of service -->
    <p style="color: white"> <em>Passwort </em>

      <a href="forgot-password" style="color:rgb(133,0,61)">vergessen?</a>

    <p style="color: white"> <em>Benutzername </em>

      <a href="forgot-username" style="color:rgb(133,0,61)">vergessen?</a>

  </form>
  <!-- Default form register -->


</div>


<hr style="color: black">
