<body>
<div class="bg">
  <div class="container">

    <form id = "contact" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

      <h3 style="font-size:35px">Gebe dein Feedback</h3>
      <hr style="border-color: dimgray">

      <div id="feedback" class="custom-control custom-radio ">
        <label>Allgemeine Zufriedenheit</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0" formControlName="first" required >
            Schlecht
          </label>
          <label class="radio-inline">
            <input type="radio"  value="1" formControlName="first" required>
            Durchschnittlich
          </label>

          <label class="radio-inline">
            <input type="radio"  value="2" formControlName="first" required >
            Gut
          </label>
        </p>
      </div>

      <div class="custom-control custom-radio ">
        <label>Gesamterlebnis</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0"  formControlName="second" required>
            Schlecht
          </label>
          <label class="radio-inline">
            <input type="radio"  value="1"  formControlName="second" required>
            Durchschnittlich
          </label>

          <label class="radio-inline">
            <input type="radio"  value="2"  formControlName="second" required>
            Gut
          </label>
        </p>
      </div>

      <div class="custom-control custom-radio ">
        <label>Schwierigkeit der Lektion</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0" formControlName="third" required>
            Schwer
          </label>
          <label class="radio-inline">
            <input type="radio"  value="1"  formControlName="third" required>
            Durchschnittlich
          </label>

          <label class="radio-inline">
            <input type="radio"  value="2"  formControlName="third" required>
            Einfach
          </label>
        </p>
      </div>

      <div class="custom-control custom-radio ">
        <label>die Geschwindigkeit der Lektion</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0"  formControlName="fourth" required >
            Schnell
          </label>
          <label class="radio-inline">
            <input type="radio"  value="1"  formControlName="fourth" required>
            Langsam
          </label>

          <label class="radio-inline">
            <input type="radio"  value="2"  formControlName="fourth" required>
            Durchschnittlich
          </label>
        </p>
      </div>

      <div class="custom-control custom-radio ">
        <label>Verständlichkeit der Lektion</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0"  formControlName="fifth" required>
            Schwer
          </label>
          <label class="radio-inline">
            <input type="radio"  value="1"  formControlName="fifth" required>
            Durchschnittlich
          </label>

          <label class="radio-inline">
            <input type="radio"  value="2"  formControlName="fifth" required>
            Sehr gut
          </label>
        </p>
      </div>

      <div class="custom-control custom-radio ">
        <label>Konnte der Dozent Ihre Frage beantworten?</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0"  formControlName="sixth" required>
            Nein
          </label>

          <label class="radio-inline">
            <input type="radio"  value="1"  formControlName="sixth" required>
            Ja
          </label>
        </p>
      </div>

      <div class="custom-control custom-radio ">
        <label>War der Inhalt interessant?</label>
        <p>
          <label class="radio-inline">
            <input type="radio"  value="0"  formControlName="seventh" required>
            Nein
          </label>

          <label class="radio-inline">
            <input type="radio"  value="1"  formControlName="seventh" required>
            Ja
          </label>
        </p>
      </div>

      <hr style="border-color:#C7DBDA; ">
      <hr style="border-color:#C7DBDA; ">

      <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Senden</button>

    </form>
  </div>
</div>
</body>
