<body>
<div>
    <div class="container">
        <form id="contact" action="" method="post">
            <h3>Give Your Feedback</h3>
            <fieldset>
                <label>Overall Satisfaction</label>
                <p>
                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="bad" >
                        Bad
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="average" >
                        Average
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="good" >
                        Good
                    </label>
                </p>
            </fieldset>

            <fieldset>
                <label>Overall Experience</label>
                <p>
                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="bad" >
                        Bad
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="average" >
                        Average
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="good" >
                        Good
                    </label>
                </p>
            </fieldset>

            <fieldset>
                <label>Difficulty of the lesson</label>
                <p>
                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="bad" >
                        Easy
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="average" >
                        Average
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="good" >
                        Hard
                    </label>
                </p>
            </fieldset>

            <fieldset>
                <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
                <span style='font-size:50px;'><i class="em em-grinning" (click)="choose('hi')" aria-role="presentation" aria-label="GRINNING FACE"></i></span>
                <span style='font-size:50px;'><i class="em em-neutral_face" (click)="choose('hi')" aria-role="presentation" aria-label="NEUTRAL FACE"></i></span>
                <span style='font-size:50px;'><i class="em em-anguished" (click)="choose('hi')" aria-role="presentation" aria-label="ANGUISHED FACE"></i></span>

            </fieldset>

            <fieldset>
                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
</body>
