<body>
<div class="bg">
    <div class="container">

      <form id="contact" action="" method="post">

        <h3 style="font-size:35px">Gebe dein Feedback</h3>
        <hr style="border-color: dimgray">




        <div id="feedback" class="custom-control custom-radio ">
          <label>Allgemeine Zufriedenheit</label>
          <p>
            <label class="radio-inline">
              <input type="radio" name="satisfaction" id="radio_experience" value="bad" >
              Schlecht
            </label>
            <label class="radio-inline">
              <input type="radio" name="satisfaction" id="radio_experience2" value="average" >
              Durchschnittlich
            </label>

            <label class="radio-inline">
              <input type="radio" name="satisfaction" id="radio_experience3" value="good" >
              Gut
            </label>
          </p>
        </div>

        <div class="custom-control custom-radio ">
          <label>Gesamterlebnis</label>
          <p>
            <label class="radio-inline">
              <input type="radio" name="experience" id="radio_experience4" value="bad" >
              Schlecht
            </label>
            <label class="radio-inline">
              <input type="radio" name="experience" id="radio_experience5" value="average" >
              Durchschnittlich
            </label>

            <label class="radio-inline">
              <input type="radio" name="experience" id="radio_experience6" value="good" >
              Gut
            </label>
          </p>
        </div>

        <div class="custom-control custom-radio ">
          <label>Schwierigkeit der Lektion</label>
          <p>
            <label class="radio-inline">
              <input type="radio" name="difficulty" id="radio_experience7" value="bad" >
              Einfach
            </label>
            <label class="radio-inline">
              <input type="radio" name="difficulty" id="radio_experience8" value="average" >
              Durchschnittlich
            </label>

            <label class="radio-inline">
              <input type="radio" name="difficulty" id="radio_experience9" value="good" >
              Schwer
            </label>
          </p>
        </div>

        <hr style="border-color:#C7DBDA; ">

            <fieldset>
                <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
                <span style='font-size:50px;'><i class="em em-grinning" (click)="choose('hi')" aria-role="presentation" aria-label="GRINNING FACE"></i></span>
                <span style='font-size:50px;'><i class="em em-neutral_face" (click)="choose('hi')" aria-role="presentation" aria-label="NEUTRAL FACE"></i></span>
                <span style='font-size:50px;'><i class="em em-anguished" (click)="choose('hi')" aria-role="presentation" aria-label="ANGUISHED FACE"></i></span>

            </fieldset>

        <hr style="border-color:#C7DBDA; ">

        <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Senden</button>

      </form>
    </div>
</div>
</body>
