<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: rgb(133,0,61);">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Map -->
        <h5 style="color: white; font-family: 'Roboto'; font-style: normal; font-weight: 400; text-align: center"> Wir sind hier!</h5>

        <div id="map-container-google-1" class="z-depth-1-half map-container"  >


          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2448.7026473334968!2d11.645183215727302!3d52.13973027974406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47af5f4e8655c243%3A0x2aa651e3d67867a6!2sOtto-von-Guericke-Universit%C3%A4t%20Magdeburg!5e0!3m2!1sde!2str!4v1584300537144!5m2!1sde!2str"
                  frameborder="0" style="border:0; height: 150px" width="700px" allowfullscreen=""></iframe>
        </div>


        </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Logo -->
       <hr style="border-color: rgb(133,0,61)">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Siegel_der_Otto-von-Guericke-Universität_Magdeburg.svg" style="width: 150px; height: 150px; margin-left: 30px;">


      </div>
      <!-- Grid column -->





      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3" style="color: white; text-align: left;">

        <!-- Team -->
        <hr style="border-color: rgb(133,0,61)">

        <div style="font-family: 'Roboto';
                      font-style: normal;
                      font-weight: 400;">
          <b>Hergestellt von TDU Team ©2020</b>
          <p></p>
          <li>Alp Akyüz</li>
          <li>Beyza Patlican</li>
          <li>Merve Sarı</li>
          <li>Minel Küpçü</li>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

</footer>
<!-- Footer -->
