
<body>
<div>
  <div class="container">
    <p> Question:<input type="text" ng-model="question" placeholder="Your question"></p>
    <p> Question Id:<input type="text" ng-model="question" placeholder="Question Id" ></p>

    <div>
      <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
      <label for="question-1-answers-A"><input type="text" ng-model="answer" placeholder="Answer " ></label>
    </div>

    <div>
      <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
      <label for="question-1-answers-B"><input type="text" ng-model="answer" placeholder="Answer 2" ></label>
    </div>

    <div>
      <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
      <label for="question-1-answers-C"><input type="text" ng-model="answer" placeholder="Answer 3" ></label>
    </div>

    <div>
      <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
      <label for="question-1-answers-D"><input type="text" ng-model="answer" placeholder="Answer 4" ></label>
    </div>


    <button class="btn btn-info my-4 btn-block" > Ekle </button>


  </div>
</div>
</body>
