
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <form [formGroup]="prepareSessionService.questionFormGroup" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="inputQuestion" class="col-form-label" style="font-size: 15px; font-family: 'Roboto';font-style: normal;
                                      font-weight: 400; ">Frage :  </label>
          <div class="col-sm-8">
            <input style="margin-left: 18px" class="form-control" id="inputQuestion" rows="3" placeholder="Geben Sie Ihre Frage ein" formControlName="question">
          </div>
        </div>

        <br>

        <div>
          <input type="radio" id="question-1-answers-A" [value]="0" formControlName="solution"/>&nbsp;
          <label for="question-1-answers-A">
            <input type="text" class="form-control" placeholder="Antwort 1" formControlName="ans1">
          </label>
        </div>

        <div>
          <input type="radio" id="question-1-answers-B" [value]="1" formControlName="solution"/>&nbsp;
          <label for="question-1-answers-B">
            <input type="text" class="form-control" placeholder="Antwort 2" formControlName="ans2">
          </label>
        </div>

        <div>
          <input type="radio" id="question-1-answers-C" [value]="2" formControlName="solution"/>&nbsp;
          <label for="question-1-answers-C">
            <input type="text" class="form-control" placeholder="Antwort 3" formControlName="ans3">
          </label>
        </div>

        <div>
          <input type="radio" id="question-1-answers-D" [value]="3" formControlName="solution"/>&nbsp;
          <label for="question-1-answers-D">
            <input type="text" class="form-control" placeholder="Antwort 4" formControlName="ans4">
          </label>
        </div>

        <br>

        <button id="save" type="submit" class="btn btn-info my-3" value="Submit">Submit diese Frage</button>&nbsp;
        <button id="reset" type="reset" class="btn btn-info my-3" value="Reset">Reset</button>
      </form>

    </div>
  </div>
</div>

