@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

.bg{

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color : rgb(123,123,123);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

.container {
  max-width: 400px;
  width: 100%;
  position: center;
  background: beige;
  padding: 25px;
  margin: 150px auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


button{
  background: rgb(133,0,61);
  border-color: rgb(133,0,61);
}

input[type=text]{
  text-align: left;
  background-color: whitesmoke;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
textarea{
  text-align: left;
  background-color: whitesmoke;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.copyright {
  text-align: center;
}

#contact input:focus,

#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
