<hr>

<div class="bg" >

  <div class="container container-fluid">

    <div class="row">

      <div class="col-sm-12" style="margin-top: 50px; margin-bottom: 50px; border-radius: 15px 50px 30px;
                            background: rgb(123,123,123); padding: 80px; width: 1000px; height: 500px;">

        <h1 style="color: white">Herzlichen Wilkommen</h1>

        <p > <a style="color: white" routerLink="./teacher"> Lehrer</a></p>
        <p> <a style="color: white" routerLink="./student-pin">Student</a></p>
        <p> <a style="color: white" routerLink="/userpage">Userpage </a></p>

      </div>
    </div>
  </div>
</div>
