<hr>

<div class="bg" >

  <div class="container container-fluid">

    <div class="row">

      <div id = "homepage" class="col-sm-12">

        <h3 style="font-size: 50px">Herzlichen Wilkommen</h3>

        <hr style="border-color: dimgray;">

        <p> <a routerLink="./teacher"> Lehrer</a></p>
        <p> <a routerLink="./student">Student</a></p>
        <p> <a routerLink="./resetPassword">pass </a></p>
        <p> <a routerLink="./studentSession">STUDENT SESSION </a></p>


      </div>

    </div>

  </div>

</div>
