<hr>
<div class="bg">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-sm-6" style="visibility: hidden"> </div>
      <div class="col-sm-6" style="visibility: hidden"> </div>
     </div>
    <div class="row">
      <div class="col-sm-6" style="visibility: hidden"> </div>
      <div id = "homepage" class="col-sm-6">
        <h3 style="font-size: 50px">Aktives Lernen mit Fragbogen </h3>
        <hr style="border-color: dimgray;">
        <p>Fragebögen vorbereiten und teilnehmen </p>
        <div class="row" style="place-content: center">
          <button class="btn btn-info my-4 btn-block" id="register" routerLink="./signUp"> Sign Up </button>
          <button class="btn btn-info my-4 btn-block" id="login" routerLink="./signIn"> Login </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="visibility: hidden"> </div>
        <div class="col-sm-6" style="visibility: hidden"> </div>
      </div>
    </div>
</div>
</div>
