<body>
<div class="bg">
  <div class="container">
    <div id="readFeedback">


      <div class="box ordered" *ngFor="let feedback of feedbacks">
        <div class="card">

          <h2>{{feedback.lectureName}}</h2>

          <div *ngFor="let counter of this.counters">
            <p>{{feedbackQuestions[counter]}}</p>
            
            <h1>{{feedback.answers[counter]}}</h1>
            <p>{{feedbackValues[feedback.answers[counter]]}}</p>
          </div>

          <br>


        </div>
      </div>
    </div>
  </div>
</div>
</body>
