

<div id="lF1"class="container" *ngFor="let feedback of feedbacks" style="background-color: #f5f5f5; max-width: 1000px; margin-bottom: 30px">
  <div id="lectureFeedback" style="background-color: transparent">

    <h2>{{feedback.lectureName}}</h2>

    <p></p>

    <div *ngFor="let counter of feedback.counters">
      <p><b>{{feedback.feedbackQuestions[counter]}}</b></p>
      <p>{{feedback.feedbackValues[feedback.answers.split(' ')[counter]]}}</p>
    </div>

    <div >
      <p><b>{{deneme}}</b></p>
    </div>

    <p></p>
  </div>
</div>
