@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.bg {
  /* The image used */
  background-image: url(../../images/homepage.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-sm-6{
  margin-top: 30px;
  margin-bottom: 50px;
  background: transparent;
}
#none{
  visibility: hidden;
}

#about h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  place-content: end;
}

