
<hr>
<div class="bg">
  <div class="container container-fluid">
    <div class="row">
      <div id = "about" class="col-sm-6">
        <h3 style="font-size: 50px">Über Uns</h3>
        <hr style="border-color: dimgray;">
        <p><b>Hergestellt von TDU Team ©2020</b></p>
        <p></p>
        <li>Alp Akyüz</li>
        <li>Beyza Patlican</li>
        <li>Merve Sarı</li>
        <li>Minel Küpçü</li>
      </div>
      <div class="col-sm-6" style="visibility: hidden"> </div>

    </div>
    <div class="row">
      <div class="col-sm-6" style="visibility: hidden"> </div>
      <div class="col-sm-6" style="visibility: hidden"> </div>
      <div class="row">
        <div class="col-sm-6" style="visibility: hidden"> </div>
      </div>
    </div>
  </div>
</div>

