<hr>

<div class="bg" >

  <div class="container container-fluid">

    <div class="row">

      <div class="col-sm-12" style="margin-top: 50px; margin-bottom: 50px; border-radius: 15px 50px 30px;
                            background: rgb(123,123,123); padding: 80px; width: 1000px;"> <h1 style="color: white">Über Fragebogen</h1>

        <a href="https://ibb.co/Khr693J"><img img class="img-responsive" src="https://i.ibb.co/B3CLgS9/WI.jpg" alt="WI" border="0"></a>

      </div>

    </div>

  </div>

</div>
