<hr>
<div class="bg">

  <div class="row">
    <div class="column" id="sessionManagement">
      <h1>Fragen</h1>
      <p>


      </p>
    </div>
    <!-- END .colum 1 -->

    <div id="column" class="column">


      <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Nächste Frage</button>
      <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Beenden</button>

    </div>
    <!-- END .colum 2-->
  </div>
  <!-- END .row -->
</div>

