<div class="bg">
  <div class="container">
    <div class="row" id="sessionS" style="position: center;  margin-top: 15vh; margin-bottom: 15vh">

      <div class="col-md-12" id="firstCol" >
        <div >
          <button class="btn btn-info my-3" id="backk" (click)="goBack()"> < </button>
        </div>

        <div class="row" style="padding: 10px">

          <h3>Fragen</h3>
        </div>

        <hr style="border-color:dimgray; " >
        <div>
          <app-student-multiple-choice *ngIf="questionType === 'MultipleChoice'"></app-student-multiple-choice>
          <app-student-free-text *ngIf="questionType === 'Free'"></app-student-free-text>
          <app-student-true-false *ngIf="questionType === 'TrueFalse'"></app-student-true-false>
        </div>

        <button class="btn btn-info my-4 btn-block" type="submit" (click)="submit()" id="btn1" style=" width: 300px;">Sende Antwort</button>
      </div>

    </div>
  </div>
</div>

<!--<hr>-->
<!--<div class="bg">-->

<!--  <div class="row">-->
<!--    <div class="column" id="sessionManagement">-->
<!--      <h1>Fragen</h1>-->

<!--      <app-student-multiple-choice *ngIf="questionType === 'MultipleChoice'"></app-student-multiple-choice>-->
<!--      <app-student-free-text *ngIf="questionType === 'Free'"></app-student-free-text>-->
<!--      <app-student-true-false *ngIf="questionType === 'TrueFalse'"></app-student-true-false>-->


<!--    </div>-->
<!--    &lt;!&ndash; END .colum 1 &ndash;&gt;-->

<!--    <div id="column" class="column">-->


<!--      <button class="btn btn-info my-4 btn-block" type="submit" (click)="submit()" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Sende Antwort</button>-->
<!--      <button class="btn btn-info my-4 btn-block" type="submit" (click)="close()" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Beenden</button>-->

<!--    </div>-->
<!--    &lt;!&ndash; END .colum 2&ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; END .row &ndash;&gt;-->
<!--</div>-->
