<div>
  <label>
    <select (change)="onSelect($event)" *ngIf="selectedType == 1">
      <option *ngFor="let lecture of select1Params" [value]="lecture.name + ' ' + lecture.pin">{{lecture.name}}</option>
    </select>
    <select (change)="onSelect($event)" *ngIf="selectedType == 2">
      <option *ngFor="let openSession of select2Params" [value]="openSession.name + ' ' + openSession.pin">{{openSession.name}}: {{openSession.pin}}</option>
    </select>
  </label>
  <div *ngIf="selectedOption != null" id="lF1" class="container"
       style="background-color: #f5f5f5; max-width: 1000px; margin-bottom: 30px">
    <div id="lectureFeedback" style="background-color: transparent">

      <h2>{{selectedOption.name}}</h2>

      <p></p>

      <div *ngFor="let average of feedbackAverages; let i = index">
        <p><b>{{feedbackService.feedbackQuestions[i]}}</b></p>
        <p>{{average}} / 2</p>
      </div>


      <p></p>
    </div>


  </div>
</div>

