@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

#lectureFeedback h2 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#lectureFeedback p {
  display: block;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}
#lF1{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#lectureFeedback{
  margin-bottom: 50px;
}
