@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url(../../images/about.jpg);

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-sm-6{
  background: transparent;
  padding: 80px;

}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  place-content: end;
}
#contact p, li{
  font-family: Roboto, sans-serif;
  display: block;
  font-weight: 300;
}
#contact {
  margin-top: 100px;
}

#submit{
  background: rgb(133,0,61);
  border-color: rgb(133,0,61);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);

}

#submit:hover{
  background-color: black;
  border-color: black;
}


