@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body, html {
  height: 100%;
}
.bg {
  /* Set up proportionate scaling */
  min-height: 100vh;

  /* Set up positioning */
  top: 0;
  left: 0;

  /* The image used */
  background-image: url(../../images/back.jpg);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: center;
  max-width: 1000px;
}

#mainCard {
  background-color: white;
  margin-top: 15vh;
  margin-bottom: 10vh;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sessionAndQuestionPickerCol {
  margin-top: 14vh;
  padding-right: 0;
  padding-left: 1vh;
}

#newSession {
  width: 100%;
  margin: 0 0 5px;
}

.table tr.hoverable:hover {
  background-color: #cccccc;
}

.table tr.active {
  background-color: #999999;
  color: black;
}

#newQuestion {
  padding: 40px;
  position: center;
}

#newQuestion h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-top:50px;
}

#newQuestion h5{
  display: block;
  font-weight: 300;
  font-size: 25px;

}
#newQuestion p{
  font-weight:300;
}

#btn1, #btn2, #btn3, #btn4{
  background: transparent;
  border-color: rgb(133,0,61);
  color: black;
}

#btn1:hover , #btn2:hover, #btn3:hover, #btn4:hover {
  background: rgb(133,0,61);
  border-color: rgb(133,0,61);
  color:white;
}

#save, #newSession{
  color: white;
  background-color: rgb(133,0,61);
  border-color: rgb(133,0,61);
}
#save:hover, #newSession:hover{
  background-color: black;
  border-color: black;
  color: white;
}

#back {
  border-radius: 50%;
  background-color: transparent;
  border-color: rgb(133,0,61);
  color: rgb(133,0,61);
  margin-bottom: 30px;
}

#backk {
  border-radius: 50%;
  background-color: transparent;
  border-color: rgb(133,0,61);
  color: rgb(133,0,61);
  margin-bottom: 30px;
}

#backk:hover{
  background-color: rgb(133,0,61);
  border-color: rgb(133,0,61);
  color: white;
}
#newQuestion h2 {
  font-size: 30px;
  font-weight: 300;
}

/* For hand held devices */
@media (pointer: none), (pointer: coarse) {
  #newQuestion {
    margin-top: 10vh !important;
    margin-bottom: 5vh !important;
  }

  #backDiv {
    height: 1vh;
  }


}




