



<div class="bg">
  <div class="container">
    <div class="row" #mainCard id="mainCard">
      <div class="col-2" *ngIf="!mobileChecker.isMobile">
        gfghdfkjghfdghfdjhgfkdhgkdfjg
      </div>
      <div #questionType id="questionType">
        <div id="backDiv" *ngIf="type">
          <button class="btn btn-info my-3" id="backk" (click)="goBack()"> < </button>
        </div>
        <h3 style="font-size: 50px">Fragensatz Vorbereiten</h3>

        <hr style="border-color: dimgray">

        <div *ngIf="!type">
          <button class="btn btn-info my-3" id="back" (click)="onUpdate4()"> < </button>
        </div>

        <div id="type">
          <div *ngIf="type">
            <h5> Bitte wählen Sie Type und geben die Title</h5>
            <br>
            <input style="margin-right: 30px" id="title" type="text" placeholder="Geben Sie einen Title ein" class="form-control" rows="3" [(ngModel)]="title" ng-minlength="5" required="">
            <br>

            <button type="button" class="btn btn-primary btn-lg btn-block" id="btn1" (click)="onUpdate1()">
              <h5>Richtig Falsch</h5>
            </button>

            <button type="button" class="btn btn-primary btn-lg btn-block" id="btn2" (click)="onUpdate2()">
              <h5>Multiple Choice</h5>
            </button>

            <button type="button" class="btn btn-primary btn-lg btn-block" id="btn3" (click)="onUpdate3()">
              <h5>Freitext</h5>
            </button>

            <button id="save" class="btn btn-primary btn-lg btn-block" (click)="saveSession()" (click)="refresh()"
                    [disabled]="!title">Save Sitzung</button>

          </div>

          <div *ngIf="selected1">
            <app-truefalse></app-truefalse>
          </div>
          <div *ngIf="selected2">
            <app-multiplechoice></app-multiplechoice>
          </div>
          <div *ngIf="selected3">
            <app-freetext></app-freetext>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
