
<hr>

<div class="bg">
  <div class="row">

    <div class="column" style="background-color: #C7DBDA; height: 500px; width: 500px; margin-top: 50px; margin-bottom: 50px;
                               box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
      <h2 style="margin-left: 25px">Fragen und Antworten</h2>
      <p>.. </p>
      <p> ..</p>
      <p>.. </p>
      <p>... </p>
      <p>.. </p>
      <p> ..</p>
      <p>.. </p>
      <p>... </p>
      <p>.. </p>



    </div>
    <div class="column" style="background-color: #C7DBDA ; height: 500px; width: 500px;margin-top: 50px; margin-bottom: 50px;
                                                  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
      <div class="container" style="height: 200px; ">

        <h1 style="margin-left: 25px">Anzahl  der Teilnehmer</h1>

      </div>

      <div>
        <td> <button style="color: white; background-color: rgb(133,0,61); border: none;
                padding: 10px 22px; text-align: center; text-decoration: none; display: inline-block;
                font-size: 16px;  ; margin-left: 25px; width: 300px"> Nächste Frage </button> </td>
        <p></p>
      </div>

      <div>
        <td> <button style="color: white; background-color: rgb(133,0,61); border: none;
                padding: 10px 22px; text-align: center; text-decoration: none; display: inline-block;
                font-size: 16px;  ; margin-left: 25px; width: 300px"> Zeige Antwort </button> </td>
        <p></p>
      </div>


      <div>
        <td> <button style="color: white; background-color: rgb(133,0,61); border: none;
                padding: 10px 22px; text-align: center; text-decoration: none; display: inline-block;
                font-size: 16px;  ; margin-left: 25px; width: 300px"> Beende Sitzung </button> </td>
        <p></p>
      </div>

    </div>
  </div>
</div>

