<!--<hr>-->
<!--<body>-->
<!--<div class="bg">-->
<!--  <div class="container container-fluid">-->

<!--    <div class="column" id="sessionManagement">-->
<!--      <h3 style="font-size: 50px">Fragen</h3>-->
<!--      <div *ngFor="let q of question.split('\n')">-->
<!--        <h1 style="font-size: 50px"> {{q}}</h1>-->
<!--        <hr style="border-color:dimgray; " >-->
<!--      </div>-->
<!--      <p>-->
<!--        {{correctAnswer}}-->
<!--      </p>-->

<!--    </div>-->
<!--    &lt;!&ndash; END .colum 1 &ndash;&gt;-->

<!--    <div id="antworten" class="column">-->

<!--      <h1 style="font-size: 50px">Anzahl der Teilnehmer: {{userCount}}</h1>-->

<!--      <button class="btn btn-info my-4 btn-block" type="submit" (click)="skipRequest()" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Nächste Frage</button>-->
<!--      <button class="btn btn-info my-4 btn-block" type="submit" (click)="getAnswersRequest()" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Zeige Studenten Antwort</button>-->
<!--      <button class="btn btn-info my-4 btn-block" type="submit" (click)="getAnswerRequest()" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Zeige Antwort</button>-->
<!--      <button class="btn btn-info my-4 btn-block" type="submit" (click)="endSessionRequest()" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Beenden</button>-->
<!--    </div>-->
<!--    &lt;!&ndash; END .colum 2&ndash;&gt;-->
<!--  </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; END .row &ndash;&gt;-->
<!--</body>-->

<div class="bg">
  <div class="container" *ngIf="!end">
    <div class="row" id="sessionM" style="position: center; margin-top: 15vh; margin-bottom: 15vh">

      <div class="col-md-8" id="firstCol" >
        <div >
          <button class="btn btn-info my-3" id="back" (click)="goBack()"> < </button>
        </div>

        <header style="padding: 10px">
          <h3 >Sitzung</h3>

        </header>

        <hr style="border-color:dimgray; " >
        <div *ngIf= "!sessionEndet">
        <div *ngFor="let q of question.split('\n',1)" >
          <h1 style="font-size: 25px" *ngIf=" !(q=='undefined')"> {{q}} </h1>
        </div>
      </div>
        <div *ngIf= "sessionEndet">

          <div >
            <h1 style="font-size: 40px" >Es gibt keine Frage mehr</h1>
            <h1 style="font-size: 40px" >Bitte beenden Sie die Sitzung um Ergebnissen zu sehen</h1>
          </div>
        </div>

        <p>
          {{answerQuestions}}
          {{everyQuestion}}
        </p>

        <div *ngIf="change == true">
          <h3 style="font-size: 30px; color: green">
            <b *ngIf="correctAnswer=='true'">Richtig</b> <b *ngIf="correctAnswer=='false'">Falsch</b>
            <b *ngIf="correctAnswer== '0'"> A){{deneme}} </b>
            <b *ngIf="correctAnswer== '1'"> B){{denemee}} </b>
            <b *ngIf="correctAnswer== '2'"> C){{denemeee}}</b>
            <b *ngIf="correctAnswer== '3'"> D){{denemeeee}} </b>
            <b *ngIf="correctAnswer== '4'"> E </b>
            <b *ngIf="correctAnswer.length > 5"> {{correctAnswer}} </b>

          </h3>


        </div>

      </div>

      <div class="col-md-4" id="secondCol" >
        <div style="visibility: hidden">
          <button class="btn btn-info my-3" (click)="goBack()"> < </button>
        </div>
        <header style="padding: 10px">

          <h3 > Pin: {{pinOpen}}</h3>


        </header>

        <hr style="border-color:dimgray" >

        <h3>Anzahl der Teilnehmer: {{userCount}}</h3>
        <hr style="border-color:white" >
        <br>
        <br>


        <button class="btn btn-primary btn-lg btn-block" id="btn1" type="submit" (click)="change=false"(click)="skipRequest()" (click)="getAnswerRequest()" >Nächste Frage</button>
        <br>
        <button class="btn btn-primary btn-lg btn-block" id="btn2" type="submit" (click)="change=true" (click)="getAnswersRequest()" >Zeige Studenten Antwort</button>
        <br>
        <button class="btn btn-primary btn-lg btn-block" id="btn3" type="submit" (click)="change=true" (click)="getAnswerRequest()" >Zeige Antwort</button>
        <br>
        <button class="btn btn-primary btn-lg btn-block" id="btn4" type="submit" (click)="endSessionRequest()" (click)="onEnd()" >Beenden</button>

        <br>


      </div>

    </div>
  </div>



  <div class="container" *ngIf="end">
    <div class="row" id="sessionM1" style="position: center; margin-top: 200px">

      <div class="col-md-12" id="firstCol1">
        <div >
          <button class="btn btn-info my-3" id="backk1" (click)="goBack()"> < </button>
        </div>
        <div class="row" style="padding: 10px">
          <h3 >Sitzung Ergebnissen</h3>
        </div>

        <hr style="border-color:dimgray; " >

        <div class="col-md-6">
          <div *ngFor="let q of everyQuestion">
            <h1 style="font-size: 25px"> <b>Frage:</b> {{q}} </h1>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngFor="let q of trueAnswers">
            <h1 style="font-size: 25px" *ngIf="q=='true'"> <b>Antwort:</b> Richtig </h1>
            <h1 style="font-size: 25px" *ngIf="q=='false'"> <b>Antwort:</b>  Falsch</h1>
            <h1 style="font-size: 25px" *ngIf="q=='1'"> <b>Antwort:</b>  A</h1>
            <h1 style="font-size: 25px" *ngIf="q=='2'"> <b>Antwort:</b>  B</h1>
            <h1 style="font-size: 25px" *ngIf="q=='3'"> <b>Antwort:</b>  C</h1>
            <h1 style="font-size: 25px" *ngIf="q=='4'"> <b>Antwort:</b>  D</h1>
            <h1 style="font-size: 25px" *ngIf="q=='5'"> <b>Antwort:</b>  E</h1>
            <h1 style="font-size: 25px" *ngIf="q.length > 5"> <b>Antwort:</b> {{q}} </h1>
          </div>
        </div>

      </div>

    </div>
  </div>



</div>


