<hr>

<div class="bg" >

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12" style="margin-top: 50px; margin-bottom: 50px; border-radius: 15px 50px 30px;
                           padding: 80px; width: 1000px;">
        <div class="div" align="center">
          <a href="https://pngimg.com/uploads/fireworks/fireworks_PNG15623.png"><img style=" align-content: center;max-width: 600px; max-height: 600px" img class="img-responsive" src="https://pngimg.com/uploads/fireworks/fireworks_PNG15623.png" alt="Erfolg" border="0"></a>

        </div>


      </div>
    </div>
  </div>
</div>
