<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="inputQuestion" class="col-form-label" style="font-size: 15px; font-family: 'Roboto';font-style: normal;
          font-weight: 400; ">Frage :  </label>
          <div class="col-sm-8">
            <input name="question" style="margin-left: 18px" class="form-control" id="inputQuestion" rows="3" formControlName="question" placeholder="Geben Sie Ihre Frage ein">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputAntwort" class="col-form-label" style="font-size: 15px; font-family: 'Roboto';font-style: normal;
                                      font-weight: 400; ">Antwort :  </label>
          <div class="col-sm-8">
            <input name="solutionStr" class="form-control" id="inputAntwort" rows="3" formControlName="solution" placeholder="Geben Sie Ihre Antwort ein">
          </div>
        </div>

        <br>


        <br>
        <button id="save" type="submit" class="btn btn-info my-2" value="Submit">Submit diese Frage</button>&nbsp;
        <button id="reset" type="reset" class="btn btn-info my-2" value="Reset">Reset</button>
      </form>





    </div>
  </div>
</div>
