<app-navbar></app-navbar>

<style>
    .bg{
        width: 100%;
        height: 100%;
        background: url(https://images.pexels.com/photos/159751/book-address-book-learning-learn-159751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        repeat:repeat;
        allaign: center;
        background-size: 100% 100%;
        background-position: top center;

    }
</style>



<div class="bg" >

    <div id="signUp" class="container" style=" margin-top: 50px; margin-left: 150px ; border-radius: 15px 50px 30px;
    background: rgb(95,95,95);
    padding: 80px;
    width: 500px;
    height: 500px;
    margin-bottom: 100px;">

        <h1 style="color: white ; font-family: Verdana, Geneva, sans-serif; size: 10px">Sign-Up</h1>


        <p style=" color: white; font-family: Verdana, Geneva, sans-serif">Bitte fuellen Sie dieses Formular aus, um ein Konto zu erstellen.</p>

        <div>
            <label style="color: white; font-family: Verdana, Geneva, sans-serif " for="vorname" ><b>Vorname: </b></label>
            <input type="text" placeholder="Vorname" name="vorname" required>
        </div>

        <p></p>

        <div>
            <label style="color: white; font-family: Verdana, Geneva, sans-serif " for="name" ><b>Name: </b></label>
            <input type="text" placeholder="Name" name="name" required>
        </div>

        <p></p>


        <div>
            <label style="color: white; font-family: Verdana, Geneva, sans-serif " for="username" ><b>Username: </b></label>
            <input style="width: 180px" type="text" placeholder="Wählen Sie ein Benutzername" name="username" required>
        </div>

        <p></p>

        <div>
            <label style="color: white; font-family: Verdana, Geneva, sans-serif " for="email" ><b>Email: </b></label>
            <input type="text" placeholder="Geben Sie dein Email" name="email" required>
        </div>

        <p></p>


        <div>
            <label  style="color: white; font-family: Verdana, Geneva, sans-serif " for="psw"><b>Passwort: </b></label>
            <input type="password" placeholder="Wählen Sie dein Password" name="psw" required>
        </div>


        <p></p>

        <div>
            <label style="color: white; font-family: Verdana, Geneva, sans-serif " for="psw-repeat"><b>Passwort wiederholen: </b></label>
            <input style="width: 180px" type="password" placeholder="Widerholen Sie dein Password" name="psw-repeat" required>

        </div>

        <p></p>

        <div style=" color: white; font-family: Verdana, Geneva, sans-serif "><b> Rolle: </b> <br>

            <input type="radio" id="student" name="role" value="student" required>
            <label for="student" style=" color: white; font-family: Verdana, Geneva, sans-serif">Student</label><br>
            <input type="radio" id="teacher" name="role" value="Lehrer" required>
            <label for="teacher"  style=" color: white; font-family: Verdana, Geneva, sans-serif"> Lehrer </label>

            <br>

        </div>

        <p></p>



        <button type="submit" class="registerbtn"
                style=" background-color: rgb(133,0,61); border: none;
                color: white;
                padding: 10px 22px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px; "> Register </button>

        <p></p>

        <hr>

        <p style=" color: white; font-family: Verdana, Geneva, sans-serif"> Hast du schon ein Konto? <a href="#" style="color: lightgray">Sign in</a>.</p>


    </div>

</div>

<app-footer class="mt-auto"> </app-footer>
