<body>
<div class="bg">

  <div class="container" style="position: center">

    <form id="signUp" class="text-center" action="#!" [formGroup]="form" (ngSubmit)="onSubmit()">

      <h3 style="font-size: 50px">Sign Up</h3>
      <hr style="border-color: dimgray">
      <p>Bitte füllen Sie dieses Formular aus, um ein Konto zu erstellen.</p>
      <br>

      <input type="form" id="defaultRegisterFormName" class="form-control" placeholder="Name*" formControlName="name" required>
      <div *ngIf="isFieldInvalid('name')">
        Bitte geben sie dein Name ein
      </div>
      <p></p>

      <!-- Username -->
      <input type="form" id="defaultRegisterFormUsername" class="form-control" placeholder="Benutzername*" formControlName="username" required>
      <div *ngIf="isFieldInvalid('username')">
        Bitte geben sie dein Benutzername ein
      </div>
      <p></p>

      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail*" formControlName="email" required>
      <div *ngIf="isFieldInvalid('email')">
        Bitte geben sie dein Email ein
      </div>
      <p></p>

      <!-- Password -->
      <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password*" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password" required>
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4"></small>
      <div *ngIf="isFieldInvalid('password')">
        Bitte geben sie dein Passwort ein
      </div>
      <p></p>

      <!-- Role -->
      <div>
        <div class="div" align="left">
          <label style="font-family: 'Roboto';
                      font-style: normal;
                      font-weight: 400;">
            <input type="radio"  value="TEACHER" formControlName="role" required>  Lehrer*</label>
        </div>

        <div class="div" align="left">
          <label style="font-family: 'Roboto';
                      font-style: normal;
                      font-weight: 400;">
            <input type="radio" value="STUDENT" formControlName="role" required > Studierende*</label>
        </div>

        <div *ngIf="isFieldInvalid('role')">
          Bitte wählen sie dein Role
        </div>
      </div>
      <p></p>
      <hr style="border-color: dimgray">
      <button class="btn btn-info my-4 btn-block" type="submit" id="register" onclick="alert('Ihr Konto wurde erstellt')"> Register</button>
      <hr style="border-color: dimgray">
      <p >Hast du schon
        <em>ein Konto? </em>
        <a href="signIn" style="color:rgb(133,0,61)">Sign In.</a>
    </form>
  </div>
</div>
</body>
