<hr>

<div class="bg">

  <div class="container container-fluid">

    <div class="row">

      <div class="col-sm-6" style=" margin-top: 50px; margin-bottom: 50px; border-radius: 15px 50px 30px;
                            background: rgb(123,123,123); padding: 80px; width: 1000px;">

        <form class="text-center border border-light p-5" action="#!">

          <p class="h4 mb-4 " style="font-size: 50px ; color: white">Sign Up</p>

          <p style="color: white">Bitte füllen Sie dieses Formular aus, um ein Konto zu erstellen.</p>


          <hr>

          <input type="form" id="defaultRegisterFormName" class="form-control" placeholder="Vorname" #name>

          <p></p>

          <input type="form" id="defaultRegisterFormLastName" class="form-control" placeholder="Nachname" #nachname>

          <p></p>

          <!-- Username -->
          <input type="form" id="defaultRegisterFormUsername" class="form-control" placeholder="Benutzername"  #username>

          <p></p>

          <!-- E-mail -->
          <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"  #email>

          <p></p>

          <!-- Password -->
          <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" #password>
          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4"></small>

          <p></p>


          <!-- Role -->
          <div class="div" align="left">
            <label style="color: white"><input type="radio" name="optradio" value="TEACHER"  #role1 (click)="onUpdate1()" >  Lehrer</label>
          </div>

          <div class="div" align="left">
            <label style="color: white"><input type="radio" name="optradio" value="STUDENT"  #role2 (click)="onUpdate2()" > Studierende</label>
          </div>

          <p></p>

          <hr>
          <a *ngIf="selectedRole1 === false && selectedRole2=== false" class="btn btn-info my-4 btn-block" type="submit" style="color: white; background: rgb(133,0,61); border-color: rgb(133,0,61)"
                  >Register</a>

          <a href="success" *ngIf="selectedRole1" class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)"
                  (click)="Register(name,username, email, password, role1)">Register</a>


          <a href="success" *ngIf="selectedRole2" class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61) "
              (click)="Register(name,username, email, password, role2 )">Register </a>



          <p style="color: white">Hast du schon
            <em>ein Konto? </em>
            <a href="signIn" style="color:rgb(133,0,61)">Sign In.</a>

        </form>
        <!-- Default form register -->

      </div>
    </div>

  </div>

</div>
