
<!--<body>-->
<!--<div class="bg">-->
<!--  <div id ="text" class="container">-->
<!--    <fieldset id="student">-->

<!--      <h3 style="font-size: 50px">Studierende</h3>-->
<!--      <hr style="border-color: dimgray">-->

<!--      <h5>Geben Sie Ihren PIN-Code ein, um auf eine Sitzung zuzugreifen</h5>-->

<!--      <br>-->

<!--      <input type="form" class="form-control" placeholder="PIN-Code" >-->

<!--      <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Submit</button>-->

<!--      <hr style="border-color: dimgray">-->

<!--      <li> <a href="/give-feedback" style="color: black">Gebe dein Feedback</a> </li>-->

<!--    </fieldset>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->


<div class="bg">
  <div class="container">
    <div class="row" id="student" style="position: center; margin-top: 200px">
      <div class="col-md-4" id="firstCol">
        <h3 style="font-size: 50px">Student</h3>
      </div>

      <div class="col-md-8" id="secondCol">
        <hr style="visibility: hidden">

        <div class="main" *ngIf="selected1">

          <button type="button" class="btn btn-primary btn-lg btn-block " id="btn1"  (click)="onUpdate1()">
            <h5>Session Teilnehmen</h5>
          </button>
          <br>

          <button type="button" class="btn btn-primary btn-lg btn-block " id="btn2"  routerLink="give-feedback">
            <h5>Feedback Geben</h5>
          </button>
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block " id="pass" routerLink="change-password">
            <h5>Passwort Ändern </h5>
          </button>

        </div>

        <div id="session" *ngIf="selected2">
          <button class="btn btn-info my-3" id="back" (click)="refresh()"> < </button>
          <br>
          <br>
          <br>

          <h5>Geben Sie Ihren PIN-Code ein, um auf eine Sitzung zuzugreifen</h5>
          <input type="form" class="form-control" placeholder="PIN-Code" >
          <button class="btn btn-info my-4 btn-block" type="submit" id="submit">Submit</button>

          <a href="studentSession"> Student Sitzung</a>

        </div>



        <hr style="visibility: hidden">

      </div>
    </div>
  </div>
</div>
