
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body, html {
  height: 100%;
}
.bg {
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.bg {
  /* The image used */
  background-image: url(../../images/back.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: center;
  height: 400px;
  max-width: 1000px;
}
#student {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: center;
  height: 25vh;
}

#student h3 {
  font-size: 30px;
  font-weight: 300;
  margin-top:50px;
  color: white;
}
#student h5{
  font-weight: 300;
  font-size: 25px;

}
#student p{
  font-weight:300;
  display: flex;
}

#btn1, #btn2, #pass{
  background: transparent;
  border-color: rgb(133,0,61);
  color: black;
}
#submit:hover{
  background-color: black;
  border-color: black;
  color: white;
}

#btn1:hover , #btn2:hover, #pass:hover, #submit{
  background: rgb(133,0,61);
  border-color: rgb(133,0,61);
  color:white;
}

#firstCol{
  background-image: url(../../images/student.jpeg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#secondCol{
  background: #FDFEFE;
  align-items: center;

}
#back {
  border-radius: 50%;
  background-color: transparent;
  border-color: rgb(133,0,61);
  color: rgb(133,0,61);
  margin-bottom: 30px;
}

#back:hover{
  background-color: rgb(133,0,61);
  border-color: rgb(133,0,61);
  color: white;
}


