<body>
<link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
<div>
    <div class="fancy">Student</div>
    <nav>
        <ul>
            <p>
            <li>
                <h5>Enter your pin</h5>
                <label for="pin">Pin</label><br>
                <input type="number">
                <button type="submit">Submit</button>
            </li>
            </p>
            <li> <a href="/give-feedback">Give your Feedback</a> </li>
        </ul>
    </nav>

</div>
</body>

