
<body>
<div class="bg">
  <div class="container" style="margin-left: 600px">

    <form id="forgotPass" class="text-center" action="#!" [formGroup]="formGroup" [formGroup]="form" >

      <h3 style="font-size: 50px">Passwort Vergessen</h3>

      <hr style="border-color: dimgray">

      <!-- Username -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required #email
             [(ngModel)]="a" formControlName="a" required>
      <div style="width: 200px" *ngIf="isFieldInvalid('a')">
        <p>Bitte geben Sie dein Derzeitiges Email</p>
      </div>
      <p></p>


      <!-- Send button -->
      <button class="btn btn-info my-4 btn-block" type="submit"
              (click)="forgotPassword(email)" onclick="alert('Bitte überprüfen Sie Ihre E-Mails')" > Senden</button>

      <hr style="border-color: dimgray">

      <p > Zurück zur

        <a href="" style="color:rgb(133,0,61)">Startseite</a>

    </form>




  </div>
</div>
</body>
