
<body>
<div class="bg">
  <div class="container">

    <form id="forgotPass" class="text-center" action="#!">

      <h3 style="font-size: 50px">Passwort Vergessen</h3>

      <hr style="border-color: dimgray">

      <!-- Username -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required #email>

      <p></p>


      <!-- Send button -->
      <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)"
              (click)="forgotPassword(email)">Senden</button>

      <hr style="border-color: dimgray">

      <p > Zurück zur

        <a href="" style="color:rgb(133,0,61)">Startseite</a>

    </form>




  </div>
</div>
</body>
