
<hr>

<div class="container-fluid" style=" margin-top: 50px; margin-left: 150px ; border-radius: 15px 50px 30px;
    background: rgb(123,123,123);
    padding: 80px;
    width: 500px;">

  <!-- Default form register -->
  <form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4 " style="font-size: 50px ; color: white">Passwort Vergessen</p>

    <hr>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required>

    <p></p>


    <!-- Send button -->
    <button class="btn btn-info my-4 btn-block" type="submit" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Senden</button>

    <hr>

    <!-- Terms of service -->
    <p style="color: white"> Zurück zur

      <a href="" style="color:rgb(133,0,61)">Startseite</a>

  </form>
  <!-- Default form register -->


</div>


<hr style="color: black">
