<body>
<div class="bg">
  <div class="container">

    <fieldset id="userpage">

      <h3 style="font-size: 35px">Benutzer Seite</h3>

      <hr style="border-color: dimgray">
      <div id="text">

        <h5> Hier können Sie Ihr Passwort ändern</h5>

        <br>

      <input type="form" class="form-control" placeholder="Username" >
        <br>
      <input type="form" class="form-control" placeholder="Derzeitiges Passwort">
        <br>
      <input type="form" class="form-control" placeholder="Neu Passwort" >

      </div>

      <button class="btn btn-info my-4 btn-block" style="background: rgb(133,0,61); border-color: rgb(133,0,61)">Save </button>

    </fieldset>
  </div>
</div>
</body>
