.card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    background-color: beige;
    width: 500px;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Spartan', sans-serif;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: rgb(133,0,61);
    background-color: darkgray;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    background: black;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
