

<body>
<div class="bg">
  <div class="container" style="margin-left: 600px">

    <form id="forgotUsername" class="text-center" action="#!">

      <h3 style="font-size: 50px">Benutzername Vergessen</h3>

      <hr style="border-color: dimgray">

      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required #email>

      <p></p>


      <!-- Send button -->
      <button class="btn btn-info my-4 btn-block" type="submit"
              (click)="forgotUsername(email)" onclick="alert('Bitte überprüfen Sie Ihre E-Mails')">Senden</button>

      <hr style="border-color: dimgray">


      <p> Zurück zur

        <a href="" style="color:rgb(133,0,61)">Startseite</a>

    </form>
  </div>
</div>
</body>
