

<body>
<div class="bg">
  <div class="container" style="margin-top: 15vh;">

    <form id="forgotUsername" class="text-center" action="#!" [formGroup]="formGroup" [formGroup]="form">

      <h3 style="font-size: 50px">Benutzername Vergessen</h3>

      <hr style="border-color: dimgray">

      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required #email
             [(ngModel)]="a" ng-minlength="5" formControlName="a" required>
      <div *ngIf="isFieldInvalid('a')">
        <p>Bitte geben Sie dein Derzeitiges Email</p>
      </div>

      <p></p>


      <!-- Send button -->
      <button class="btn btn-info my-4 btn-block" type="submit"
              [disabled]="!a" (click)="forgotUsername(email)">Senden</button>

      <hr style="border-color: dimgray">


      <p> Zurück zur

        <a href="" style="color:rgb(133,0,61)">Startseite</a>

    </form>
  </div>
</div>
</body>
