@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

.form-group row{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

#save, #reset{
  color: white;
  background-color: rgb(133,0,61);
  border-color: rgb(133,0,61)
}
#save:hover, #reset:hover{
  background-color: black;
  border-color: black;
  color: white;
}
