<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                    <label for="inputQuestion" class="col-form-label" style="font-size: 15px;
                                      font-family: 'Roboto';font-style: normal;
                                      font-weight: 400; ">Frage : </label>
                    <div class="col-sm-8">
                        <input style="margin-left: 18px" class="form-control" id="inputQuestion" formControlName="question" rows="3" placeholder="Geben Sie Ihre Frage ein">
                    </div>
                </div>

                <br>

                <br>

                <div class="radio">
                    <label><input type="radio" value=true formControlName="solution">Richtig</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value=false formControlName="solution">Falsch</label>
                </div>

                <br>

                  <button id="save" type="submit" class="btn btn-info my-3" value="Submit">Submit diese Frage</button>&nbsp;
                  <button id = "reset" type="reset" class="btn btn-info my-3" value="Reset">Reset</button>


            </form>
        </div>
    </div>
</div>
