
<body>
<div class="bg">

  <div class="container">

    <form action="/action_page.php" method="get">
      <label for="question">Question:</label>
      <textarea rows="4" cols="45" name="comment" ng-model="question" placeholder="Your question" ></textarea><br><br>
      <label for="questionId">Question Id:</label>
      <input type="text" id="questionId" placeholder="Question Id" name="questionId"><br><br>

      <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="T" />
        <label for="question-1-answers-A">True</label>
      </div>

      <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="F" />
        <label for="question-1-answers-B">False</label>
      </div>

      <button type="submit" class="btn btn-info my-2" value="Submit">Submit</button>&nbsp;
      <button type="reset" class="btn btn-info my-2" value="Reset">Reset</button>

    </form>

  </div>
</div>
</body>
